@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Lora:wght@500 & display=swap');
*{
	padding:0;
	margin:0;
}
header{
	background-color:rgb(224, 113, 150);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding:0 2%;
}
header button{
	background-color: transparent;
	border: transparent;
}
header button img{
	height:2em;
	cursor: pointer;
}

/*"css du logo je n'arrive pas à ajuster la taille 
sans changer les autres images"

header a img:first-of-type{
	height: 5em;
}
*/
header a img{
	height: 2.5em;
	width: 100%;
}
nav {
	background-color: purple;
	width: 20%;
	display: none;
}

header select{
	width: 15%;
	background-color: rgb(217, 113, 165);
	height: 2em;
	margin: 0.5% 0 0 0;
	color: #fff;
	border-radius: 5px;
}
main {
	height: 45em;
}
main img{
	height: 100%;
	width: 100%;
}

#nav{
	text-decoration: none;
	position: relative;
	margin: 1% 0 0 0;
	color: #fff;
}
main button{
	background-color: rgba(217, 113, 165, 0.484);
	width: 10%;
	color: white;
	position: relative;
	bottom: 20%;
	left: 45%;
	font-size: 1.5em;
	height: 7%;
	cursor: pointer;
	border-radius: 8px;
}

main button:hover{
	background-color:rgb(217, 113, 165);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
aside:first-of-type{
	width: 100%;
  	height: 100%;
	display: none; /*css de la barre défilante à faire*/
}

section:first-of-type{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 2% 2% 2%;
	background-color: rgb(246, 228, 233);
	height: 100%;
}
section:first-of-type h1{
	width: 100%;
	text-align: center;
	font-family:'Playfair Display', serif;
	font-size: 3rem;
	padding: 1% 0;
}
section:first-of-type article{
	width: 30%;
}
section:first-of-type article img{
	height: 28em;
	width: 100%;
}
section:first-of-type h2,
section:first-of-type p,
section:first-of-type div{
	text-align: center;
}
section:first-of-type h2,
section:first-of-type p{
	color: #333;
}
section:first-of-type h2{
	font-size: 2rem;
	font-weight: 200;
}
section:first-of-type p{
	font-style: italic;
	font-size: 1rem;
}
section:first-of-type span{
	color: gold;
	font-size: 1.5rem;
}
#fourstar{
	color: black;
}
section:first-of-type button{
	color: #fff;
	background-color:rgb(217, 113, 165);
	width: 35%;
	height: 2em;
	border-radius: 5px;
	margin-top: 2%;
	font-size: 1rem;
}
section:first-of-type button:hover{
	background-color: rgb(244, 178, 200);
	color: #333;
}
section {
	background-color: aqua;
	height: 30em;
}

aside {
	background-color:blueviolet;
	height: 15em;
}

footer {
	background-color: pink;
	height: 10em;
}